@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --color-primary: #3162ad;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }
  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }
  input,
  select,
  textarea {
    background-color: transparent;
    outline: none;
  }
  button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
  }
  body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
  }
  /* .df-messenger-wrapper {
    background-color: rgb(255, 255, 255);
    border: 0px;
    bottom: 20px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 30px;
    text-decoration: none;
    z-index: 100;
  } */
}
